@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PlayfairDisplay'; 
    src: url('../assets/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }