@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PlayfairDisplay'; 
    src: url('../assets/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: 'Lato-Regular';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}
.my-masonry-grid_column > img {
  margin-bottom: 16px;
}